body {
  background-color: #F5EFF4;
  margin: 0;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  font-family: "Quicksand", sans-serif;
  padding: 1rem 0;
}




.logo {
  display: flex;
  align-items: center;
}




.logo__image {
  width: 150px;
}



.logo__text {
  font-size: 40px;
  font-weight: bold;
}



.logo__text span {
  color: #da70f9;
}

.menu-wrapper {
  display: flex;
  align-items: center;
}

.menu {
  width: 400px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
}


.menu__item--link {
  color: black;
  text-decoration: none;
}
.menu__item--link:hover {
  color: #da70f9;
  font-weight: bold;
}

.search {
  position: relative;
}
.search__image {
  width: 30px;
  cursor: pointer;
}


.search__box {
  display: none;
  position: absolute;
  top: 0;
  background-color: #fff;
  height: 30px;
  align-items: center;
  justify-content: center;
  left: -420px;
  width: 400px;
  padding: 0.25rem;
}
.search__box input {
  width: 100%;
}

.information {
  display: flex;
  margin: 2rem 128px;
}
.information__video {
  width: 50%;
}
.information__text {
  font-family: "Quicksand", sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
}

.description{
  display: flex;
  margin: 2rem 128px;
}
.description__image{
  width: 50%;
}

.description__text {
  font-family: "Quicksand", sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 2rem;
  margin-right: 50px;
}
.contact {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  margin-top: 4rem;
}
.contact__maps, .contact__form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__maps {
  height: 340px;
}
.contact__maps iframe {
  border-radius: 10px;
}

.text_form{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  font-family:"Quicksand", sans-serif;
  font-size: 20px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form__control {
  margin: 0.5rem 0;
  width: 300px;
  padding: 0.8rem;
  border-radius: 10px;
  font-family: "Quicksand", sans-serif;
}
.form__button {
  margin-top: 0.5rem;
  width: 150px;
  padding: 0.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}
.form__button:hover {
  background-color: #92FCDE;
}

.footer__text{
  background-color: #fff;
  font-size: 20px;
  font-family:"Quicksand", sans-serif;
  padding: 20px;
  padding-left: 550px;
}

.about {
  display:flex;
  margin: 2rem 128px;
}

.about__image {
  height: 340px;
  width: 50%;
  flex-direction: column;
}

.about__text {
  font-family: "Quicksand", sans-serif;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2rem;
  align-items: center;
}